.app{
    background-color: var(--grey);
}
.home-section {
    position: relative;
    background: var(--grey);
    padding: 50px;
    top: 0;
    width: calc(100% - 78px);
    z-index: 2;
    height: 100vh;
}
.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}
.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}
