.list-container{
    display: flex;
    flex-direction: row;
}

.add-list-button{
    width: 300px;
    height: 300px;
    background-color: #AAA;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
        font-size: 10rem;
    }
    :hover{
        background-color: #CCC;
        color: #444;
        cursor: pointer;
    }
}