
.list-options{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 150px;
    height: 50px;
    justify-content: space-around;
    margin: 25px auto;
    align-items: center;
    font-size: 2rem;
    background-color: #00000012;
    border-radius: 5px;
}
.list-options .list-trash:hover{
    cursor: pointer;
    color: #FF4C4C;
}
.list-options .list-edit:hover{
    cursor: pointer;
    color: #fff;
}